<include file="header" />

    <div class="article">
        <div class="aLists">
            <volist id="art" name="arts">
            <div class="aList">
                <div class="aList_h"><a href="{:U('/p/'.$art['id'])}" target="_blank">{$art.title}</a></div>
                <div class="aList_m">
                    <div class="aList_m_item">
                        <img src="__PUBLIC__/img/icon/icons-png/tag-black.png" alt="">
                        {$art.tags|tr_tags}
                    </div>
                    <div class="aList_m_item">
                        <img src="__PUBLIC__/img/icon/icons-png/clock-black.png" alt="">
                        <span>2015.05.21</span>
                    </div>
                    <div class="aList_m_item">
                        <img src="__PUBLIC__/img/icon/icons-png/eye-black.png" alt="">
                        <span>12</span>
                    </div>
                </div>
                <div class="aList_f">
                    <a href="{:U('edit_article',array('id'=>$art['id']))}" title="编辑" class="aList_f_edit"></a>
                    <a href="{:U('delete_article',array('id'=>$art['id']))}" title="删除" class="aList_f_delete"></a>
                </div>
            </div>
            </volist>
        </div>
    </div>

</body>
</html>
