<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Admin</title>
<link rel="stylesheet" href="__PUBLIC__/css/admin.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/simditor/styles/simditor.css" />
</head>
<body>

<div class="nav">
    <ul>
        <li class="navList bga">
            <a href="{:U('index')}"><img src="__PUBLIC__/img/icon/light/48px/48_home.png" alt=""></a>
        </li>
        <li class="navList bgb">
            <a href="{:U('article_list')}"><img src="__PUBLIC__/img/icon/light/48px/48_settings.png" alt=""></a>
        </li>
        <li class="navList bgc">
            <a href="javascript:void(0);"><img src="__PUBLIC__/img/icon/light/48px/48_poll.png" alt=""></a>
        </li>
        <li class="navList bgd">
            <a href="{:U('joke')}"><img src="__PUBLIC__/img/icon/light/48px/48_comments.png" alt=""></a>
        </li>
        <li class="navList bge">
            <a href="javascript:void(0);"><img src="__PUBLIC__/img/icon/light/48px/48_gallery.png" alt=""></a>
        </li>
        <li class="navList bgf">
            <a href="javascript:void(0);"><img src="__PUBLIC__/img/icon/light/48px/48_pie_graph.png" alt=""></a>
        </li>
        <li class="navList bgg">
            <a href="javascript:void(0);"><img src="__PUBLIC__/img/icon/light/48px/48_rss.png" alt=""></a>
        </li>
        <li class="navList bgh">
            <a href="javascript:void(0);"><img src="__PUBLIC__/img/icon/light/48px/48_html.png" alt=""></a>
        </li>
        <li class="navList bgi">
            <a href="javascript:void(0);"><img src="__PUBLIC__/img/icon/light/48px/48_googleplus.png" alt=""></a>
        </li>
    </ul>
</div>
