input{font-family: inherit;}
textarea{font-family: inherit;}

.article{}
.main{padding: 20px 40px;background: #FFF;}
.textDv{margin-bottom: 15px;}
.text_box{width: 100%;border: none;border-bottom: 1px solid #d0cfcf;outline: none;height: 36px;background: #FDFDFD;font-size: 17px;}
.textarea_box{border: none;background: #F4F4F4;width: 100%;padding: 10px 1%;outline: none;font-size: 16px;height: 100px;}

.a_tags a{margin-right: 5px;}

#container{position: relative;}
.msry-item{width: 226px;margin: 0 15px 0 0;}