<include file="header" />

	<div class="article">
		<div class="arts wraper">
			<volist id="art" name="article">
			<div class="art">
				<div class="p_title">
					<h2><a href="{:U('/p/'.$art['_id'])}">{$art.title}</a></h2>
				</div>

				<div class="p_date">
					<i class="fa fa-calendar"></i> {$art.time|date='Y.m.d',###}
					<span>阅读 2135</span>
				</div>

				<div class="p_description">
					<p>{$art.description}</p>
				</div>

				<div class="p_information">
					<a href="javascript:;"><i class="fa fa-bookmark-o"></i> Code</a>
				</div>
			</div>
			</volist>
		</div>
	</div>

	<div class="footer">
		POWER BY KS_Tutu
	</div>

</body>
</html>