<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	<div class="header">
		<div class="menubar">
			<a class="menubar_link" href="javascript:void(0);"><img src="__PUBLIC__/img/menu.png" alt=""></a>
		</div>
		<div class="menubar_Dv">
			<div class="logo">
				<a class="logo_link" href="{:U('/')}">Tu</a>
			</div>
			<div class="nav">
				<ul class="nav_ul">
					<a href="{:U('/')}"><li class="nav_list">首页</li></a>
					<a href="{:U('/blog')}"><li class="nav_list">博客</li></a>
					<a href="{:U('/share')}"><li class="nav_list">分享</li></a>
					<a href="{:U('/joke')}"><li class="nav_list">笑话</li></a>
					<a href="{:U('/')}"><li class="nav_list">关于</li></a>
				</ul>
			</div>
		</div>
	</div>
	<div class="header_p"></div>
