<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content ="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="blank" />
<meta name="format-detection" content="telephone=no" />
<title>Share</title>
<link rel="stylesheet" href="__PUBLIC__/css/style.css">
<link rel="stylesheet" href="__PUBLIC__/prettify/prettify.css">
<link href="/favicon.ico" type="image/x-icon" rel=icon>
<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
</head>
<body>
    <include file="header" />

    <div class="article wraper">
        <div class="share_wraper">
            <div class="share">
                <div class="share_img">
                    <img src="__PUBLIC__/upload/2.jpg" alt="">
                </div>
                <div class="share_content_wraper">
                    <div class="share_title">
                        <h2><a href="{:U('/')}">高清组图分享，速度来收图</a></h2>
                    </div>
                    <div class="share_info">
                        <div class="share_info_tag">
                            <a href="#">图片</a>
                            <a href="#">小清新</a>
                        </div>
                        <div class="share_info_time">
                            <p>2015.05.29</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="share">
                <div class="share_img">
                    <img src="__PUBLIC__/upload/3.jpg" alt="">
                </div>
                <div class="share_content_wraper">
                    <div class="share_title">
                        <h2><a href="{:U('/')}">高清组图分享，速度来收图</a></h2>
                    </div>
                    <div class="share_info">
                        <div class="share_info_tag">
                            <a href="#">图片</a>
                            <a href="#">小清新</a>
                        </div>
                        <div class="share_info_time">
                            <p>2015.05.29</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="share">
                <div class="share_img">
                    <img src="__PUBLIC__/upload/1.jpg" alt="">
                </div>
                <div class="share_content_wraper">
                    <div class="share_title">
                        <h2><a href="{:U('/')}">高清组图分享，速度来收图</a></h2>
                    </div>
                    <div class="share_info">
                        <div class="share_info_tag">
                            <a href="#">图片</a>
                            <a href="#">小清新</a>
                        </div>
                        <div class="share_info_time">
                            <p>2015.05.29</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        POWER BY KS_Tutu
    </div>
</body>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/tu.js"></script>
</html>
